* {
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
}


body {
    background-color: #f4c242;
}
.container {
    width: 100%;
}

img {
    width: 15%;
    padding-top: 20px;
    margin: 10px;
}

.row {
    margin-bottom: 20px;
}

#not-devoured {
    text-align: left;
    font-size: 17px;
    font-family: cursive;
    font-weight: 700;
    padding-right: 0;    
}

.devour-form {
    width: 20%;
    display: inline-block;
    margin-right: 40px;
    font-family: cursive;
}

.devour-button {
    margin-right: 30px;
    margin-left: 20px;
}

#devoured {
    text-align: left;
    font-size: 17px;
    font-family: cursive;
    font-weight: 700;
}

.p-devoured {
    font-family: cursive;
    color: #808080;
}

h2 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}

#devoured-h {
    width: 100%;
}

#top {    
    margin-bottom: 30px;
    padding-bottom: 10px;
}